<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/material-dashboard.css">
    <link rel="stylesheet" href="/assets/css/material-dashboard.css.map">
    <link rel="stylesheet" href="/assets/css/material-dashboard.min.css">
    <!-- Title -->
    <title>Product Dashboard</title>
    <!-- Fonts and Icons -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="g-sidenav-show bg-gray-200">
    <!-- Header -->
    <%- include('../partials/adminpartials/aside') %>
        <!-- Main Content -->
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <!-- Navbar -->
            <%- include('../partials/adminpartials/navbar') %>
                <!-- Content Section -->
                <div class="row mb-4">
                    <div class="row mb-4">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Card Header -->
                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                            <h6 class="text-white text-capitalize ps-3">Product Management</h6>
                                        </div>
                                    </div>
                                    <!-- Table Section -->
                                    <div class="table-responsive">
                                        <form action="/admin/productedit/<%=productdata.id%>" method="post"
                                            enctype="multipart/form-data">
                                            <div class="row">
                                                <!-- Left Column -->
                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input type="text" value="<%= productdata.name %>"
                                                            class="form-control" name="name" required>
                                                    </div>

                                                    <!-- Category Dropdown -->
                                                    <div class="mb-3">
                                                        <label for="categoryName" class="form-label">Category
                                                            Name:</label>
                                                        <select class="form-select" id="categoryname"
                                                            name="categoryname" required>
                                                            <% categoryoption.forEach((item)=> { %>
                                                                <option value="<%=item.categoryname%>">
                                                                    <%=item.categoryname%>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                    </div>
                                                    <!-- Image Display and Delete -->
                                                    <div style="display: flex; margin-top: 20px">
                                                        <% productdata.image.forEach(element=> { %>


                                                            <div style="position: relative">
                                                                <img class="img-fluid" style="width: 90px; margin: 10px"
                                                                    src="/MulterUploads/<%=element %>"
                                                                    alt="" />
                                                                <a style="position: absolute; top: 0; right: 0; color: red"
                                                                    class="fas fa-times "
                                                                    href="/admin/<%= element %>/<%= productdata.id %>"></a>
                                                            </div>

                                                            <% }) %>
                                                    </div>
                                                </div>
                                                <!-- Right Column -->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description" class="form-label">Description:</label>
                                                        <input type="text" value="<%=productdata.description%>"
                                                            class="form-control" name="description" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="price" class="form-label">Price:</label>
                                                        <input type="number" value="<%=productdata.price%>"
                                                            class="form-control" name="price" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="qty" class="form-label">Qty:</label>
                                                        <input type="number" value="<%=productdata.qty%>"
                                                            class="form-control" name="qty" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Save Changes Button -->
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
</body>

</html>