<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Cart</title>
  <link rel="shortcut icon" href="/img/Cat & Dog 3a.png">

  <link rel="icon" href="img/favicon.png">
  <link rel="stylesheet" href="/assets/productcss/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/productcss/animate.css">
  <link rel="stylesheet" href="/assets/productcss/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/productcss/nice-select.css">
  <link rel="stylesheet" href="/assets/productcss/all.css">
  <link rel="stylesheet" href="/assets/productcss/flaticon.css">
  <link rel="stylesheet" href="/assets/productcss/themify-icons.css">
  <link rel="stylesheet" href="/assets/productcss/magnific-popup.css">
  <link rel="stylesheet" href="/assets/productcss/slick.css">
  <link rel="stylesheet" href="/assets/productcss/price_rangs.css">
  <link rel="stylesheet" href="/assets/productcss/style.css">

</head>
<style>
  .hero-img-wrap {
    overflow-x: visible
  }

  @media only screen and (max-width: 980px) {
    .hero-img-wrap {
      overflow-x: hidden;

    }
  }
</style>

<body>
  <%- include('../partials/layoutpage.ejs') %>
    <!--::header part start::-->
    <%- include('../partials/userpartials/header.ejs') %>
      <!-- Header part end-->
      <!--PreLoader-->
      <div class="loader">
        <div class="loader-inner">
          <div class="circle"></div>
        </div>
      </div>
      <!--PreLoader Ends-->


      <!-- Start Hero Section -->
      <div class="hero">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-5">
              <div class="intro-excerpt">
                <h1>CART </h1>
                <p class="mb-4">"Pets are humanizing. They remind us we have an obligation and responsibility to
                  preserve and
                  nurture and care for all life. Money can buy you a fine dog, but only love can make him wag
                  his tail. The trouble with a kitten is that eventually it becomes a cat."</p>
                <p><a href="/shop" class="btn btn-secondary me-2">Shop Now</a><a href="/shop"
                    class="btn btn-white-outline">Explore</a></p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="hero-img-wrap">
                <img style="height:600px;" src="/img/cartimage.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- End Hero Section -->
      <!--================Cart Area =================-->
      <section class="cart_area padding_top">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% let subtotal=0 %>
                    <% if (cartdetails?.products.length>0) { %>
                      <% cartdetails.products.forEach((prod, index)=> { %>
                        <% let total=0 %>

                          <% const product=productdetails.find(item=> item._id.equals(prod.productId)); %>
                            <tr>
                              <td>
                                <div class="media">
                                  <div class="d-flex">
                                    <img style="width: 100px; height: 80px;" src="/MulterUploads/<%= product.image[0]%>"
                                      alt="" />
                                  </div>
                                  <div class="media-body">
                                    <p>
                                      <%= product.name %>
                                    </p>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <h5>
                                  <%= product.price %>
                                </h5>
                              </td>



                              <td class="py-4 text-center">
                                <div class="justify-center items-center">
                                  <% if (prod.quantity>1) { %>
                                    <button class="border rounded-md py-2 px-4 mr-2 minus"
                                    style="font-size: larger; font-weight: bold;"
                                    onclick="changequantity('<%= prod.id %>','<%= product.id %>',-1)">-</button>
                                    
                                   <% } %>

                                  <% if (prod.quantity> product.qty) { %>
                                    <h6>
                                      <%= product.qty %>
                                        <h5 style="color: red;"> Quantity reduced
                                          From <%= prod.quantity %> to <%= product.qty %>
                                              because Only <%= product.qty %> Left
                                        </h5>
                                    </h6>
                                    <% } else { %>
                                      <span class="text-center w-8 amount"
                                        style="font-size: larger; font-weight: bold;">
                                        <%=prod.quantity %>
                                      </span>
                                      <% } %>

                                        <button class="border rounded-md py-2 px-4 ml-2 plus"
                                          onclick="changequantity('<%= prod.id %>','<%= product.id %>',1)">+</button>
                                </div>
                              </td>







                              <% let pricetotal=Number(product.price) * Number(prod.quantity) %>
                                <td>
                                  <% if ( product.qty<=0 ) { %>
                                    <h5>
                                      Out of Stock
                                      <% pricetotal=0 %>
                                    </h5>
                                    <% }else{ %>
                                      <h5>
                                        <%= pricetotal %>
                                      </h5>
                                      <% } %>
                                        <% subtotal +=pricetotal %>
                                </td>

                                <td>
                                  <button class="btn btn-sm btn_3"
                                    onclick="removeItem('<%=product.id%>')">Remove</button>
                                </td>
                            </tr>
                            <% }); %>
                              <% } else { %>
                                <tr>
                                  <td colspan="5">
                                    <img style="width: 400px; height: 300px; color: red;" src="/img/empty-cart.png"
                                      alt="image">
                                    " YOUR CART IS EMPTY " Pls add product to use cart feature
                                  </td>
                                </tr>
                                <% } %>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                      <h5>Subtotal =</h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <%= subtotal %>
                                      </h5>
                                    </td>
                                  </tr>
                </tbody>
              </table>

              <a class="btn btn-sm btn_3" href="/clearcart">Clear Cart</a>

              <div class="checkout_btn_inner float-right">
                <a class="btn btn-sm btn_1" href="/shop">Add More</a>
                <% if(cartdetails?.products.length>0) { %>


                  <a class="btn btn-sm btn_1 checkout_btn_1" href="/checkout">Proceed to
                    checkout</a>
                  <% } %>

              </div>
            </div>
          </div>
        </div>
      </section>
      <script>
        function changequantity(cartid, productid, count) {
          // Make a fetch request to your backend
          fetch('/quantityUpdation', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              cartId: cartid,
              productId: productid,
              count: count
            }),
          })
            .then(response => response.json())
            .then(data => {
              // Handle the response data if needed
              console.log('Success:', data);
              window.location.reload()
            })
            .catch(error => {
              // Handle errors
              console.error('Error:', error);
            });
        }

      </script>


      <!-- <script>
        let pluses = document.getElementsByClassName('plus');
        let minuses = document.getElementsByClassName('minus');
        let amounts = document.getElementsByClassName('amount');

        for(let i=0; i< pluses.length; i++){

            pluses[i].addEventListener("click",function (){
                amounts[i].innerHTML = parseInt(amounts[i].innerHTML) +1;
                let itemId = this.dataset.itemId;
                let newAmount = parseInt(amounts[i].innerHTML);
                fetch('/updateCart',{
                    method:'POST',
                    headers:{
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({itemId:itemId, amount:newAmount}),
                    
                })
                .then(response => response.json())
                .then(data=>{
                    console.log('Success:', data);
                })
                .catch((error)=>{
                    console.error('Error:', error);
                });
                
                window.location.reload();
            });
                
            minuses[i].addEventListener("click", function(){
                
                if(parseInt(amounts[i].innerHTML) > 1){
                    
                    amounts[i].innerHTML = parseInt(amounts[i].innerHTML) -1;
                }
                minuses[i].style.display = (parseInt(amounts[i].innerHTML)===1)? 'none': 'inline-block';

                    let itemId = this.dataset.itemId;
                    console.log(itemId);
                    let newAmount = parseInt(amounts[i].innerHTML);

                    if(newAmount>0){
                    
                        fetch('/updateCart',{
                            method:'POST',
                            headers: {
                                'Content-Type': 'application/json',

                            },
                            body:JSON.stringify({itemId: itemId,amount:newAmount}),
                        })
                        .then(response => response.json())
                    .then(data => {
                    console.log('Success:', data);
                    })
                    .catch((error) => {
                    console.error('Error:', error);
                    });
                    window.location.reload();
                    
                }
            });

            minuses[i].style.display = (parseInt(amounts[i].innerHTML)===1)? 'none': 'inline-block';
        }

    </script> -->

      <!--================End Cart Area =================-->

      <!--::footer_part start::-->
      <%- include('../partials/userpartials/footer.ejs') %>
        <!--::footer_part end::-->

        <!-- jquery plugins here-->
        <!-- jquery -->
        <script src="/singlejs/jquery-1.12.1.min.js"></script>
        <!-- popper js -->
        <script src="/singlejs//popper.min.js"></script>
        <!-- bootstrap js -->
        <script src="/singlejs/bootstrap.min.js"></script>
        <!-- easing js -->
        <script src="/singlejs/jquery.magnific-popup.js"></script>
        <!-- swiper js -->
        <script src="/singlejs/swiper.min.js"></script>
        <!-- swiper js -->
        <script src="/singlejs/masonry.pkgd.js"></script>
        <!-- particles js -->
        <script src="/singlejs/owl.carousel.min.js"></script>
        <script src="/singlejs/jquery.nice-select.min.js"></script>
        <!-- slick js -->
        <script src="/singlejs/slick.min.js"></script>
        <script src="/singlejs/jquery.counterup.min.js"></script>
        <script src="/singlejs/waypoints.min.js"></script>
        <script src="/singlejs/contact.js"></script>
        <script src="/singlejs/jquery.ajaxchimp.min.js"></script>
        <script src="/singlejs/jquery.form.js"></script>
        <script src="/singlejs/jquery.validate.min.js"></script>
        <script src="/singlejs/mail-script.js"></script>
        <script src="/singlejs/stellar.js"></script>
        <script src="/singlejs/price_rangs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- custom js -->
        <% if (err) { %>
          <script>
            // Show SweetAlert for product quantity not available
            Swal.fire({
              title: 'Error',
              text: 'Product quantity not available',
              icon: 'error',
              confirmButtonText: 'OK'
            });
          </script>
          <% } %>

            <script>
              function removeItem(productId) {
                console.log(productId);
                fetch(`/removeItem/${productId}`,
                  {
                    method: 'DELETE',
                    headers: { "Content-Type": "application/json" }
                  })

                  .then(response => response.json())
                  .then(data => {

                    window.location.reload();
                  })

                  .catch(error => console.error('Error:', error));
              }
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
            <script>
              bodymovin.loadAnimation({
                container: document.getElementById('emptyCart'),
                path: '/json/emptycart.json',
              });
            </script>
</body>

</html>