<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Product view</title>
  <link rel="icon" href="img/favicon.png">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="../../sinprotem/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/assets/productcss/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto+Flex:opsz@8..144&display=swap"
    rel="stylesheet">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/assets/productcss/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/assets/productcss/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/productcss/lightslider.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/assets/productcss/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/assets/productcss/flaticon.css">
  <link rel="stylesheet" href="/assets/productcss/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/assets/productcss/magnific-popup.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/assets/productcss/style.css">



  <link href="/assets/cssUT/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  
  <link href="/assets/cssUT/tiny-slider.css" rel="stylesheet">
  <link href="/assets/cssUT/style.css" rel="stylesheet">

</head>

<body>
  <!--::header part start::-->
  <%- include('../partials/userpartials/header.ejs') %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="hero">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-lg-5">
                  <div class="intro-excerpt">
                    <h1>Product Details</h1>
                  </div>
                </div>
                <div class="col-lg-7">
                  <p>"Pets are humanizing. They remind us we have an obligation and responsibility to preserve and
                    nurture and care for all life. Money can buy you a fine dog, but only love can make him wag
                    his tail. The trouble with a kitten is that eventually it becomes a cat."</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- breadcrumb start-->
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->

    <div class="product_image_area section_padding">
      <div class="container">
        <div class="row s_product_inner justify-content-between">
          <div class="col-lg-7 col-xl-7">
            <div class="product_slider_img">
              <div class="lSSlideOuter  vertical" style="padding-right: 105px;">
                <div class="lSSlideWrapper usingCss" style="height: 450px;">
                  <div id="vertical" class="lightSlider lsGrab lSSlide"
                    style="height: 1800px; transform: translate3d(0px, 0px, 0px);">
                    <div data-thumb="/img/Boy With Pet Dog Walking.jpeg" class="lslide active"
                      style="height: 450px; margin-bottom: 0px;">

                      <img id="zoommain" src="/MulterUploads/<%= productdata.image[0] %>">
                    </div>
                  </div>
                </div>
                <ul class="lSPager lSGallery"
                  style="margin-left: 5px; width: 100px; transition-duration: 600ms; height: 607.167px; transform: translate3d(0px, 0px, 0px);">
                  <li class="smalImg" style="width:100%;height:146.66666666666666px;margin-bottom:5px"  ><img
                        src="/MulterUploads/<%= productdata.image[1] %> ">  </li>
                  <li class="smalImg" style="width:100%;height:146.66666666666666px;margin-bottom:5px"><img
                        src="/MulterUploads/<%= productdata.image[2] %> ">  </li>
                  <li class="smalImg" style="width:100%;height:146.66666666666666px;margin-bottom:5px"><img
                        src="/MulterUploads/<%= productdata.image[3] %> ">  </li>
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="s_product_text">
              <h5>Sales<span>|</span> Rent</h5>
              <h3>
                <%= productdata.name %>
              </h3>
              <h2>Rs:<%= productdata.price %>
              </h2>
              <ul class="list">
                <li>
                  <a class="active" href="#">
                    <span> Category</span>
                    <%= productdata.category %>
                  </a>
                </li>
                <!-- <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
              </li> -->
              </ul>
              <p>
                Give your furry friend the gift of a peaceful night's sleep with our Comfort Paws Orthopedic Dog Bed.
                Specially designed to provide optimal comfort and support, this bed is perfect for dogs of all ages,
                sizes, and breeds.
              </p>
              <div class="card_area d-flex justify-content-between align-items-center">
                <div class="product_count">
                  <span class="inumber-decrement"> <i class="fa fa-minus"></i></span>
                  <input id="Qty" class="input-number" type="text" value="1" min="0" max="10">
                  <span class="number-increment"> <i class="fa fa-plus"></i></span>
                </div>
                <button id="addToCartButton" onclick="addToCart('<%= productdata._id %>')" class="btn_3"
                  style="text-decoration: none;">add to cart</button>
                </div>
                
                <button id="addToWishlistButton" data-product-id="<%= productdata._id %>" class="btn btn-danger">
                  <i class="fas fa-heart" style="color: white;"></i>
              </button>
                <span id="wishlistIcon"></span>
                                
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
         
          <li class="nav-item">
            <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
              aria-controls="review" aria-selected="false">Reviews</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">


          <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="row">
              <div class="col-lg-6">

                <div class="review_list">
                  <div class="review_item">
                    <div class="media">
                     
                      <div class="media-body">
                        <h4>Blake Ruiz</h4>
                      
                      </div>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                  </div>

                 
                  
                </div>
              </div>
              <div class="col-lg-6">
                <div class="review_box">
                  <h4>Add a Review</h4>
                  <p>Your Rating:</p>
                  <ul class="list">
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-star"></i>
                      </a>
                    </li>
                  </ul>
                  <p>Outstanding</p>
                  <form class="row contact_form" action="/contact" method="post">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="First name" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email Address" />
                      </div>
                    </div>
                    
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="1" placeholder="Review"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12 text-right">
                      <button type="submit" value="submit" class="btn_3">
                        Submit Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->

    <!-- product_list part start-->

    <div class="popular-product">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg"
                  alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Sales & Rent</h3>
                <p>Pets sales available here </p>
                <!-- <p><a href="#">Read More</a></p> -->
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg"
                  alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Adoption</h3>
                <p>Be Kind Adopt pets </p>
                <!-- <p><a href="#">Read More</a></p> -->
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="/img/Meet Three Best Friends – Two Dogs And A Cat Who Love Doing Everything Together.jpeg"
                  alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Grooming & Accessories</h3>
                <p>Pet Grooming Accesories</p>
                <!-- <p><a href="#">Read More</a></p> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- product_list part end-->

    <!--::footer_part start::-->
    <%- include("../partials/userpartials/footer.ejs") %>
      <!--::footer_part end::-->

     <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap and Popper.js -->
<script src="/singlejs/popper.min.js"></script>
<script src="/singlejs/bootstrap.min.js"></script>

<!-- Magnific Popup -->
<script src="/singlejs/jquery.magnific-popup.js"></script>

<!-- Lightslider -->
<script src="/singlejs/lightslider.min.js"></script>

<!-- Masonry -->
<script src="/singlejs/masonry.pkgd.js"></script>

<!-- Owl Carousel and Nice Select -->
<script src="/singlejs/owl.carousel.min.js"></script>
<script src="/singlejs/jquery.nice-select.min.js"></script>

<!-- Slick -->
<script src="/singlejs/slick.min.js"></script>

<!-- Swiper -->
<script src="/singlejs/swiper.jquery.js"></script>

<!-- CounterUp and Waypoints -->
<script src="/singlejs/jquery.counterup.min.js"></script>
<script src="/singlejs/waypoints.min.js"></script>

<!-- Contact Form Scripts -->
<script src="/singlejs/contact.js"></script>
<script src="/singlejs/jquery.ajaxchimp.min.js"></script>
<script src="/singlejs/jquery.form.js"></script>
<script src="/singlejs/jquery.validate.min.js"></script>

<!-- Mail Script -->
<script src="/singlejs/mail-script.js"></script>

<!-- Stellar -->
<script src="/singlejs/stellar.js"></script>

<!-- Custom Theme and Scripts -->
<script src="/singlejs/theme.js"></script>
<script src="/singlejs/custom.js"></script>

<!-- Zoom Scripts -->
<!-- <script src="/javascript/zoom.js"></script> -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
      const addToWishlistButton = document.getElementById('addToWishlistButton');
      const wishlistIcon = document.getElementById('wishlistIcon');
  
      addToWishlistButton.addEventListener('click', async () => {
          const productId = addToWishlistButton.getAttribute('data-product-id');
          try {
              const response = await fetch(`/wishlist/${productId}`, {
                  method: 'get', 
                  headers: {
                      'Content-Type': 'application/json',
                  },
              });
              const data = await response.json();
        
                const { wishlistdata } = data;
                if (wishlistdata && wishlistdata.length > 0) {
                  addToWishlistButton.style.display = 'none';

                  wishlistIcon.innerHTML = '<i class="fas fa-heart" style="color: red;"></i>';
              } else {
                  wishlistIcon.innerHTML = '<i class="far fa-heart"></i>';
              }
          } catch (error) {
              console.error('Fetch error:', error);
          }
      });
  });
  </script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    let MainImg = document.getElementById('zoommain');
    let smalImg = document.getElementsByClassName('smalImg');

    for (let i = 0; i < smalImg.length; i++) {
      smalImg[i].addEventListener('click', function () {
        MainImg.src = smalImg[i].querySelector('img').src;
      });
    }
  });
</script>

<script src="/zoom/zoom.js"></script>
<script src="/zoom/zoomsl.min.js"></script>

      <script>
        function addToCart(productId) {
          var qty = document.getElementById('Qty');
          var val = qty.value;
          const data = {
            productId: productId,
            quantity: val
          }
          fetch('/addcart', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // Convert data to JSON string
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json();
            })
            .then(data => {
              if (data.message == "noUser") {
                window.location.href = '/';
              }
            })
          // Change button text and redirect
          var button = document.getElementById('addToCartButton');
          button.textContent = 'Go to Cart';
          button.onclick = () => {
            window.location.href = '/cart';
          };
        }





      </script>
     
</body>

</html>