<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Wishlist</title>
  <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="/assets/productcss/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/productcss/animate.css">
    <link rel="stylesheet" href="/assets/productcss/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/productcss/nice-select.css">
    <link rel="stylesheet" href="/assets/productcss/all.css">
    <link rel="stylesheet" href="/assets/productcss/flaticon.css">
    <link rel="stylesheet" href="/assets/productcss/themify-icons.css">
    <link rel="stylesheet" href="/assets/productcss/magnific-popup.css">
    <link rel="stylesheet" href="/assets/productcss/slick.css">
    <link rel="stylesheet" href="/assets/productcss/price_rangs.css">
    <link rel="stylesheet" href="/assets/productcss/style.css">
</head>

<body>
  <%- include('../partials/layoutpage.ejs') %>
    <!--::header part start::-->    
    
    
    <%- include('../partials/userpartials/header.ejs') %>
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="hero">
              <div class="container">
                <div class="row justify-content-between">
                  <div class="col-lg-5">
                    <div class="intro-excerpt">
                      <h1>Wishlist </h1>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <p>"Pets are humanizing. They remind us we have an obligation and responsibility to preserve and
                      nurture and care for all life. Money can buy you a fine dog, but only love can make him wag
                      his tail. The trouble with a kitten is that eventually it becomes a cat."</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb start-->
      
      <!--================Cart Area =================-->
      <!--================Cart Area =================-->
      <main>
        <section class="cart_area padding_top">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <% if (wishlistdata) { %>
                                <% wishlistdata.items.forEach((wishlist, index) => { %>
                                    <% const product = productData.find(obj => obj.id == wishlist.productId) %>
    
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img style="width: 100px; height: 80px;" src="/MulterUploads/<%= product.image[0] %>" alt="" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="media-body">
                                                <p>
                                                    <%= product.name %>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= product.price %>
                                            </h5>
                                        </td>
                                    
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="5">
                                        <img style="width: 400px; height: 300px; color: red;" src="/img/wishlistlatest.jpeg" alt="image">
                                        <span style="font-weight: bold;font-size:large;"> " YOUR WISHLIST IS EMPTY " Please add products to your wishlist.</span>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    
<!--================End Cart Area =================-->

  
<%- include('../partials/userpartials/footer.ejs') %>
      <!--================End Cart Area =================-->

</body>

</html>