<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>User Details</title>

  <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <style>
    .btn-primary-left {
      margin-right: 10px;
    }

    .btn-primary-right {
      margin-left: 10px;
    }
  </style>
</head>
<%- include('../../partials/layoutpage.ejs') %>
  <%- include('../../partials/userpartials/header.ejs') %>

    <body class="g-sidenav-show bg-gray-200">
      <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="container-fluid">
          <div class="row mb-4">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                      <h6 class="text-white text-capitalize ps-3">Address</h6>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <br>

                    <a href="/add-address"><button type="button" class="btn btn-primary btn-primary-left"
                        style="padding-top: 10px;">Add Address</button></a>
                    <% if(locals.message){ %>
                      <p style="color: red;font-size: large;">
                        <%= message %>
                      </p>
                      <% } %>
                        <h5>PRIMARY ADDRESS</H5>
                        <% address.forEach((row,index)=>{ %>

                          <form method="post" action="/edit-address">
                            <!-- Form content... -->
                            <div class="row">
                              <div class="col-md-6">
                                <br>


                                <input type="hidden" value="<%=row._id%>" name="id">

                                <h2>
                                  <%= row.name %>
                                </h2>

                                <h5>
                                  <%=row.address %>
                                </h5>
                                <h6>
                                  District: <%= row.district %>
                                </h6>
                                <h6>
                                  State: <%= row.state %>
                                </h6>

                              </div>
                              <div class="col-md-6">
                                <br>
                                <br>
                                <br>

                                <h6>
                                  Pin: <%= row.pincode %>
                                </h6>

                                <h6>
                                  Phone:<%= row.phone %>
                                </h6>
                                <h6>
                                  E-mail: <%= row.email %>
                                </h6>


                              </div>
                            </div>
                            <br>

                            <div class="form-group mt-4">

                              <button type="submit" class="btn btn-secondary btn-primary-right"
                                style="padding-top: 10px;">Edit Address</button>
                            </div>
                          </form>

                          <br>
                          <%})%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('../../partials/userpartials/footer.ejs') %>
      </body>